.game-canvas {
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  align-items: center;
  justify-content: center;
  padding: 100px;
  color: white;
}

.game-body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 600px;
  height: 600px;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.25);
}

h1 {
  align-self: center;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 40px;
  color: white;
  letter-spacing: .25em;
  -webkit-text-stroke-width: 2px;
    /* -webkit-text-stroke-color: #feb300; */
    -webkit-text-stroke-color: black;
}

.top-line {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
}

.score-div {
  width: 20%;
  padding-left: 22px;
}

.score-title {
  color: #8ee4af; 
}

.rules-mute {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
  padding-right: 38px;
}

.current-word-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
}

.current-word-and-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}

#delete-btn {
  border: none;
  width: 10%;
  font-size: 15px;
}

#current-word {
  margin-left: 34px;
  width: 150px;
  height: 30px;
  font-size: 20px;
  color: #8ee4af;
}


.main-area {
  display: flex;
  flex-direction: row;
  padding: 25px;
  max-height: 320px;
}

.left-panel {
  width: 20%;
  font-size: 12px;
  text-align: left;

}

.level{
  display: flex;
  flex-direction: column;
  height: 50px;
  padding: 10px;
  /* border: 1px solid white; */
}

.level-title {
  color: #8ee4af;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  text-align: left;
  /* margin-bottom: 25px; */
}

.main-game {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.right-panel {
  width: 20%;
  font-size: 10px;
  text-align: center;
}

.word-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.letter-area .row {
  margin: 20px;
  text-align: center;
}

.letter-area .row button {
  background-color: black;
  margin: 0px 5px;
  text-align: center;
  border-radius: 50%;
  /* border: 3px solid #ffe198; */
}

.req {
  color: #8ee4af;
  width: 60px;
  height: 60px;
  font-size: 26px;
  font-weight: bold;
  border: 3px solid #8ee4af;
}

#required-letter:hover {
  background-color: #ffe198;
  color: black;
}

.opt {
  color: #ffe198;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #ffe198;
  transition: transform 0.4s;
}

.opt.is-moved {
  transform: rotateY(360deg)
}

#first-letter:hover {
  background-color: #8ee4af;
  color: black;
}

#second-letter:hover {
  background-color: #8ee4af;
  color: black;
}

#third-letter:hover {
  background-color: #8ee4af;
  color: black;
}

#fourth-letter:hover {
  background-color: #8ee4af;
  color: black;
}

#fifth-letter:hover {
  background-color: #8ee4af;
  color: black;
}

#sixth-letter:hover {
  background-color: #8ee4af;
  color: black;
}

.shuffle-newgame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}

.shuffle button {
  /* background-color: black; */
  color: white;
  border-radius: 10px;
  margin-right: 10px;
}

.new-game-and-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#rules-button {
  height: 20px;
  width: 20px;
  padding-bottom: 2px;
  border: 2.5px solid white;
  border-radius: 60%;
  text-align: center;
  font-size: 13px;
}

#rules-button:hover {
  background-color: #287fb8;
}

#mute-button {
  height: 20px;
  border: 2.5px solid white;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
  padding-top: 2px;
}

#mute-button:hover {
  background-color: #287fb8;
}

.nav-links {
  padding: 25px;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-icons li {
  font-size: 20px;
  padding: 20px;
}

