#rules-button {
  position: relative;
}

.modal {
  position: absolute;
  top: 280px;
  width: 386px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #8ee4af;
  border-radius: 5px;
  color: black;
}

#rules-modal {
  top: 180px;
  font-size: 10px;
}

.rules-ul {
  margin-bottom: 25px;
}
.rules-ul p {
  font-weight: bold;
}

.levels-ul p {
  font-weight: bold;
}

 .rules-levels-li {
  padding-left: 25px;
  font-size: 10px;
}

#rules-close-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

#rules-close-button button {
  font-size: 8px;
}

.modal.hidden {
  display: none;
}

.modal div {
  margin: 5px;
  padding: 20px 10px;
  border: 1px solid black;
  border-radius: 2px;
}

.swal-modal {
  background-color: rgba(0,0,0,0.5);
  /* background-color: rgba(63,255,106,0.69); */
  border: 3px solid grey;
  width: 200px;
  padding-bottom: 10px;
}

.swal-title {
  color: grey;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #4962B3;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}