.modal {
  /* position: absolute; */
  /* top: 280px; */
  /* width: 386px; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  background-color: pink;
  border-radius: 2px;
  text-align: center;
}

/* #rules-modal {
  top: 180px;
} */

.modal.hidden {
  display: none;
}

.modal div {
  margin: 5px;
  padding: 20px 10px;
  border: 1px solid #002e9a;
  border-radius: 2px;
}

.swal-modal {
  background-color: rgba(63,255,106,0.69);
  border: 3px solid white;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #4962B3;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}